body {
    background-image: url(a62.png);
}

#block {
    margin: 1em auto;
  padding: 0;
  width: 1000px;
  border: 3px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: span 12;
    background-color: black;
    color: white;
    padding: 4px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  nav {
    grid-column: span 3;
  }

  nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
  }

  nav li {
    width: 200px;
    padding: 10px;
  }

  nav li a {
    display: block;
    background-color: red;
    border: 1px solid red;
    padding: 10px;
    color: white;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: darkred
  }

  main {
    grid-column: span 8;
  }

  h2 {
    border-bottom: solid 3px black;
    grid-column: span 12;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .brickimg {
  float: left;
  margin-right: 24px;
  margin-bottom: 12px;
  }

  footer {
    border: 2px solid black;
    background-color: red;
    grid-column: span 12;
  }
  
  .font {
 text-align: justify;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: bold;
  }

  .brickimg {
    border:3px solid black;
    background-color: white;
    padding: 8px;
  }
  
  main a {
    color: red;
    font-weight: bold;
    text-decoration: none;
  }

  main a:hover {
    color: blue;
    text-decoration: underline;
  }