body {
    background-color: #999999;
  }
  
  #block {
    margin: 1em auto;
  padding: 0;
  width: 1000px;
  border: 3px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  }
  
  header {
    grid-column: span 12;
    background-image: linear-gradient(lightslategray, lightblue);
    color: white;
    padding: 4px;
    margin: 15px;
    font-family: Agbalumo;
    font-weight: normal;
  }
  
  nav {
    grid-column: span 4;
    padding: 10px;
  }

  nav a {
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #003300;
    width: 100px;
    color: white;
    transition: background-color 1.0s, width 2.0s, color 2.0s;
  }
  
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
  
  nav li {
    padding: 10px;
    width: 300px;
  }
  
  nav li a {
    display: block;
    background-image: linear-gradient(gray,skyblue);
    border: 1px solid blue;
    padding: 2em;
    color: white;
    text-decoration: none;
    font-family: Agbalumo;
    font-weight: normal;
  }
  
  nav a:hover {
    background-color: #00ff00;
    width: 200px;
    color: black;
  }    
  
  .lax {
   width: 425px;
   height: 250px;
   margin: 20px;
   grid-column: span 8;
    margin-right: 24px;
    margin-bottom: 12px;
    padding-left: 15px;
  }
  
  main {
    grid-column: span 8;
    padding: 10px;
    text-align: center;
  }

  .roundedbox {
    padding: 10px;
    width: 250px;
    border: 1px solid #999;
    background-color: #ccc;
    border-radius: 5px;
  }
  